@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: New Century Schoolbook, serif, cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../public/img/FriendsSignIn.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  background-color: #E4D00A;
  width: '100vw';
  height: '250vh';
}

#nav {
  background-color: #E4D00A;
  font-size: medium;
}
